@import url(katex/dist/katex.min.css);

.no-select {
  user-select: none;
}

/* text in mermaid diagram partially hidden otherwise */
svg .node .label {
  line-height: 1.2;
}

.flowchart-link {
  stroke: var(--sl-color-white) !important;
}

.marker {
  stroke: var(--sl-color-white) !important;
  fill: var(--sl-color-white) !important;
}

/* links in headers */
.sl-markdown-content :is(h1, h2, h3, h4, h5, h6) {
  a {
    text-decoration: none;
    font-size: 1.3rem;
    margin-left: 0.5rem;
    /* emoji silhouette */
    color: transparent !important;
  }

  &:hover a {
    /* emoji silhouette */
    text-shadow: 0 0 0 var(--sl-color-text-accent);
  }

  .icon.icon-link::after {
    /* content: "#"; */
    /* content: "⚓"; */
    content: "🔗";
  }
}

.graphology {
  text {
    fill: var(--sl-color-white) !important;
  }

  line {
    stroke-width: 2px;
  }
}

.broken-link {
  text-decoration: underline;
  color: red;
}

.column-list {
  column-width: calc(var(--sl-content-width) / 2 - 1.5rem);

  ul {
    padding: 0;
    list-style: none;
    margin-top: 0 !important;
  }
}

@media (min-width: 72rem) {
  .sl-container {
    margin-inline: var(--sl-content-margin-inline, 0) !important;
  }
}

svg.icon.text {
  display: inline-block !important;
  margin: 0 0 -0.25rem 0 !important;
}
