@import url(katex/dist/katex.min.css);

/* needed if you use strategy: "img-class-dark-mode" */
html[data-theme="light"] .beoe-dark {
  display: none;
}

html[data-theme="dark"] .beoe-light {
  display: none;
}

/* I had to put this style in global scope, because otherwise it doesn't work in  link previews */
.graphology {
  text {
    fill: var(--sl-color-white);
  }
  line {
    stroke-width: 2px;
  }
}

/* I had to put this style in global scope, because otherwise it doesn't work in  link previews */
.graphviz {
  text {
    fill: var(--sl-color-white);
  }
  [fill="black"],
  [fill="#000"] {
    fill: var(--sl-color-white);
  }
  [stroke="black"],
  [stroke="#000"] {
    stroke: var(--sl-color-white);
  }
}

.gnuplot {
  background: #fff;
}

.euler {
  background: #fff;
  border-radius: 0.5em;
}

.no-select {
  user-select: none;
}

/* links in headers */
.sl-markdown-content :is(h1, h2, h3, h4, h5, h6) {
  a {
    text-decoration: none;
    font-size: 1.3rem;
    margin-left: 0.5rem;
    /* emoji silhouette */
    color: transparent !important;
  }

  &:hover a {
    /* emoji silhouette */
    text-shadow: 0 0 0 var(--sl-color-text-accent);
  }

  .icon.icon-link::after {
    /* content: "#"; */
    /* content: "⚓"; */
    content: "🔗";
  }
}

.broken-link {
  text-decoration: underline;
  color: red;
}

.column-list {
  column-width: calc(var(--sl-content-width) / 2 - 1.5rem);

  ul {
    padding: 0;
    list-style: none;
    margin-top: 0 !important;
  }
}

@media (min-width: 72rem) {
  .sl-container {
    margin-inline: var(--sl-content-margin-inline, 0) !important;
  }
}

svg.icon.text {
  display: inline-block !important;
  margin: 0 0 -0.25rem 0 !important;
}
