@import url(katex/dist/katex.min.css);

.no-select {
  user-select: none;
}

/* text in mermaid diagram partially hidden otherwise */
svg .node .label {
  line-height: 1.2;
}

.flowchart-link {
  stroke: var(--sl-color-white) !important;
}

.marker {
  stroke: var(--sl-color-white) !important;
  fill: var(--sl-color-white) !important;
}

/* links in headers */
.sl-markdown-content :is(h1, h2, h3, h4, h5, h6) {
  a {
    color: var(--sl-color-black);
    text-decoration: none;
    font-size: 1.5rem;
    margin-left: calc(-1rem - 4px);
    padding-right: 4px;
  }

  &:hover a {
    color: var(--sl-color-text-accent);
  }

  .icon.icon-link::after {
    content: "#";
  }
}
