<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.svg" type="image/svg+xml" />
    <title>faceted search demo</title>
  </head>
  <body>
    <header class="header" id="header">
      <p class="header-title">Work in progress - faceted search</p>

      <div data-widget="searchbox"></div>
    </header>

    <main class="container">
      <div class="container-wrapper">
        <section class="container-filters">
          <div class="container-header">
            <h2>Filters</h2>

            <div data-widget="clear-filters" data-layout="desktop"></div>
            <div data-widget="results-number-mobile" data-layout="mobile"></div>
          </div>

          <div class="container-body">
            <div data-widget="brands"></div>
            <div data-widget="categories"></div>
          </div>
        </section>

        <footer class="container-filters-footer" data-layout="mobile">
          <div
            class="container-filters-footer-button-wrapper"
            data-widget="clear-filters-mobile"
          >
          </div>

          <div
            class="container-filters-footer-button-wrapper"
            data-widget="save-filters-mobile"
            data-action="close-overlay"
          >
          </div>
        </footer>
      </div>

      <section class="container-results">
        <header class="container-header container-options">
          <div class="container-option" data-widget="sort-by"></div>
          <div class="container-option" data-widget="hits-per-page"></div>
        </header>

        <div data-widget="hits"></div>
        <div class="hits-empty-state">
          <div
            data-widget="clear-filters-empty-state"
            class="hits-empty-results"
          >
          </div>
        </div>

        <footer class="container-footer">
          <nav data-widget="pagination"></nav>
        </footer>
      </section>
    </main>

    <aside data-layout="mobile">
      <button class="filters-button" data-action="open-overlay">
        <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 16 14">
          <path
            d="M15 1H1l5.6 6.3v4.37L9.4 13V7.3z"
            stroke="#fff"
            stroke-width="1.29"
            fill="none"
            fill-rule="evenodd"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>

        Filters
      </button>
    </aside>

    <script>
      import "../facets/app.ts";
    </script>
  </body>
</html>
