---
import { bdb, isContent } from "@lib/braindb.mjs";
import type { Document } from "@braindb/core";
import { tagColor } from "@lib/tagColor";

const docsByTags = new Map<string, Document[]>();
(await bdb.documents()).forEach((doc) => {
  if (isContent(doc)) {
    // @ts-expect-error
    doc.frontmatter().tags.forEach((tag: string) => {
      docsByTags.set(tag, docsByTags.get(tag) || []);
      docsByTags.get(tag)?.push(doc);
    });
  }
});

const comparator = new Intl.Collator("en");
const tagsSorted = [...docsByTags.keys()].sort(comparator.compare);
---

<div class="column-list">
  <span>
    {
      tagsSorted.map((tag) => (
        <p style={{ "--tag-color": tagColor(tag) }}>
          <b>
            <i class="color-chip" /> #{tag}
          </b>
          <ul>
            {docsByTags.get(tag)?.map((doc) => (
              <li>
                <a href={doc.url()}>{doc.title()}</a>
              </li>
            ))}
          </ul>
        </p>
      ))
    }
  </span>
</div>

<style>
  .color-chip {
    background: var(--tag-color);
    border-radius: 0.25rem;
    width: 0.8rem;
    height: 0.8rem;
    display: inline-block;
    /* color: #fff;
    padding: 0 0.25rem;
    font-style: normal; */
  }
</style>
